<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.ConceptForge.App"
        versionCode = "10"
        version     = "1.0">
 
    <name>Concept Forge</name>
 
    <description>
        Concept Forge
    </description>
 
    <author href="http://erichigdon.com" email="mrbassman.10@gmail.com">
        Eric Higdon
    </author>
	<gap:plugin name="cordova-plugin-whitelist" version="1.0.0" source="npm" />
    
 	<allow-navigation href="http://erichigdon.com/*"/>
	<access origin="*" />
	<splash src="splash.png" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1000" />
    
    <platform name="ios">
        <icon src="res/icon/ios/icon-small.png" width="29" height="29" />
        <icon src="res/icon/ios/icon-small_2x.png" width="58" height="58" />
        <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-40_2x.png" width="80" height="80" />
        <icon src="res/icon/ios/icon-50.png" width="50" height="50" />
        <icon src="res/icon/ios/icon-50_2x.png" width="100" height="100" />
        <icon src="res/icon/ios/icon.png" width="57" height="57" />
        <icon src="res/icon/ios/icon_2x.png" width="114" eight="114" />
        <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/icon-60_2x.png" width="120" height="120" />
        <icon src="res/icon/ios/icon-60_3x.png" width="180" height="180" />
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-72_2x.png" width="144" height="144" />
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-76_2x.png" width="152" height="152" />
    </platform>
	
	<splash platform="ios" src="res/screen/ios/Default.png" width="320" height="480" />
	<splash platform="ios" src="res/screen/ios/Default_2x.png" width="640" height="960" />
	<splash platform="ios" src="res/screen/ios/Default-568h_2x.png" width="640" height="1136" />
	<splash platform="ios" src="res/screen/ios/Default-667h_2x.png" width="750" height="1334" />
	<splash platform="ios" src="res/screen/ios/Default-Portrait-736h_3x.png" width="1242" height="2208" />
	<splash platform="ios" src="res/screen/ios/Default-Portrait.png" width="768" height="1024" />
	<splash platform="ios" src="res/screen/ios/Default-Portrait_2x.png" width="1536" height="2048" />
	
    <platform name="android">
        <icon qualifier="ldpi" src="res/icon/android/ldpi.png"/>
        <icon qualifier="mdpi" src="res/icon/android/mdpi.png"/>
        <icon qualifier="hdpi" src="res/icon/android/hdpi.png"/>
        <icon qualifier="xhdpi" src="res/icon/android/xhdpi.png"/>
        <icon qualifier="xxhdpi" src="res/icon/android/xxhdpi.png"/>
        <icon qualifier="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
    </platform>
	
	<splash platform="android" qualifier="ldpi" src="res/screen/android/ldpi-portrait.png" />
	<splash platform="android" qualifier="mdpi" src="res/screen/android/mdpi-portrait.png" />
	<splash platform="android" qualifier="hdpi" src="res/screen/android/hdpi-portrait.png" />
	<splash platform="android" qualifier="xhdpi" src="res/screen/android/xhdpi-portrait.png" />
	<splash platform="android" qualifier="xxhdpi" src="res/screen/android/xxhdpi-portrait.png" />
	<splash platform="android" qualifier="xxxhdpi" src="res/screen/android/xxxhdpi-portrait.png" />
    

</widget>