<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.ConceptForge.app" version="1.0.0">
  <name>Concept Forge Test</name>
  <description>A fully designed functional list randomizing app tailored for creatives. The app will use algorythms to create randomly generated combinations of words. It will allow up to 5 word combinations for extended customization. Users can choose from pre-made lists or generate their own lists. The app is designed to help creatives stay sharp with their medium or practice of choice. It will be free to use.</description>
  <author href="http://erichigdon.com" email="Eric.S.Higdon@gmail.com">Eric Higdon</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="SplashShowOnlyFirstTime" value="false" />
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="FadeSplashScreenDuration" value="500"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <plugin name="org.apache.cordova.splashscreen"/>
  <icon src="icon.png"/>
  <icon src="www/res/icon/android/icon-36-ldpi.png" platform="android" qualifier="ldpi"/>
  <icon src="www/res/icon/android/icon-48-mdpi.png" platform="android" qualifier="mdpi"/>
  <icon src="www/res/icon/android/icon-72-hdpi.png" platform="android" qualifier="hdpi"/>
  <icon src="www/res/icon/android/icon-96-xhdpi.png" platform="android" qualifier="xhdpi"/>
  <icon src="www/res/icon/blackberry/icon-80.png" platform="blackberry"/>
  <icon src="www/res/icon/blackberry/icon-80.png" platform="blackberry" state="hover"/>
  <icon src="www/res/icon/ios/icon-57.png" platform="ios" width="57" height="57"/>
  <icon src="www/res/icon/ios/icon-72.png" platform="ios" width="72" height="72"/>
  <icon src="www/res/icon/ios/icon-57-2x.png" platform="ios" width="114" height="114"/>
  <icon src="www/res/icon/ios/icon-72-2x.png" platform="ios" width="144" height="144"/>
  <icon src="www/res/icon/webos/icon-64.png" platform="webos"/>
  <icon src="www/res/icon/windows-phone/icon-48.png" platform="winphone"/>
  <icon src="www/res/icon/windows-phone/icon-173-tile.png" platform="winphone" role="background"/>
  <splash src="splash.png" />
    
    <platform name="android">
      <splash src="www/res/screen/android/screen-ldpi-portrait.png" density="ldpi"/>
      <splash src="www/res/screen/android/screen-mdpi-portrait.png" density="mdpi"/>
      <splash src="www/res/screen/android/screen-hdpi-portrait.png" density="hdpi"/>
      <splash src="www/res/screen/android/screen-xhdpi-portrait.png" density="xhdpi"/>
    </platform>
    <platform name="ios">
        <splash src="res/screen/ios/Default.png" width="320" height="480" />
        <splash src="res/screen/ios/Default_2x.png" width="640" height="960" />
        <splash src="res/screen/ios/Default-568h_2x.png" width="640" height="1136" />
        <splash src="res/screen/ios/Default-667h_2x.png" width="750" height="1334" />
        <splash src="res/screen/ios/Default-Portrait-736h_3x.png" width="1242" height="2208" />
        <splash src="res/screen/ios/Default-Portrait.png" width="768" height="1024" />
        <splash src="res/screen/ios/Default-Portrait_2x.png" width="1536" height="2048" />
    </platform>
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>