@charset "UTF-8";

@font-face {
  font-family: "conceptforge";
  src:url("../fonts/conceptforge.eot");
  src:url("../fonts/conceptforge.eot?#iefix") format("embedded-opentype"),
    url("../fonts/conceptforge.woff") format("woff"),
    url("../fonts/conceptforge.ttf") format("truetype"),
    url("../fonts/conceptforge.svg#conceptforge") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "conceptforge" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cf-"]:before,
[class*=" cf-"]:before {
  font-family: "conceptforge" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cf-Animals:before {
  content: "\e001";
}
.cf-Birds:before {
  content: "\e002";
}
.cf-Insects:before {
  content: "\e003";
}
.cf-Buildings:before {
  content: "\e004";
}
.cf-Sports:before {
  content: "\e005";
}
.cf-Businesses:before {
  content: "\e006";
}
.cf-Colors:before {
  content: "\e007";
}
.cf-Creatures:before {
  content: "\e008";
}
.cf-Emotions:before {
  content: "\e009";
}
.cf-Family:before {
  content: "\e00a";
}
.cf-Flowers:before {
  content: "\e00b";
}
.cf-Gallery:before {
  content: "\e00c";
}
.cf-Genders:before {
  content: "\e00d";
}
.cf-Height:before {
  content: "\e00e";
}
.cf-Metals:before {
  content: "\e010";
}
.cf-Numbers:before {
  content: "\e011";
}
.cf-Occupations:before {
  content: "\e012";
}
.cf-Organizations:before {
  content: "\e013";
}
.cf-Personalities:before {
  content: "\e014";
}
.cf-Size:before {
  content: "\e015";
}
.cf-Age:before {
  content: "\e000";
}
.cf-Home:before {
  content: "\e00f";
}
.cf-Back:before {
  content: "\e016";
}
.cf-Forward:before {
  content: "\e017";
}
.cf-Close:before {
  content: "\e018";
}
.cf-Refresh:before {
  content: "\e019";
}
