.Animals:before {
    content: "\f0f5";
}
.Age:before {
    content: "\f073";
}
.Businesses:before {
    content: "\f1ad";
}
.Colors:before {
    content: "\f043";
}
.Genders:before {
    content: "\f228";
}
.Height:before {
    content: "\f034";
}
.Organizations:before {
    content: "\f0f7";
}
.Size:before {
    content: "\f065";
}
.Buildings:before {
    content: "\f1ad \f1ad";
    font-size: 16pt;
}
.Creatures:before {
    content: "\f02d";
}
.Emotions:before {
    content: "\f118";
}
.Family:before {
    content: "\f0c0";
}
.Insects:before {
    content: "\f188";
}
.Metals:before {
    content: "\f13d";
}
.Numbers:before {
    content: "\f1ec";
}
.Occupations:before {
    content: "\f0b1";
}
.Personality:before {
    content: "\f007";
}