.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper, html, body, .ui-page {
    background: #212732;
    color: #A9BDC9;
    text-shadow: none;
}
.ui-header-fixed {
    padding-top: 10px;
}
h2 {
    margin: -10px 0px 20px 0px;
    font-size: 16pt;
    text-align: center;
    line-height: 16pt;
    color: #e7b157;
}
h3 {
    text-align: center;
    color: #e7b157;
}
.outerBox {
    width: 85%;
    height: 286px;
    padding: 5%;
    border: 1.5px solid #e7b157;
    margin: -6px auto 19px auto;
    overflow: auto;
    border-radius: 5px;
}
.randomizer.outerBox {
    height: 61px;
    margin-bottom: 15px;
    white-space: nowrap;
}
.results.outerBox {
    width: 60%;
}
.category {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    margin: 5px 0px 15px 0px;
    font-size: 10pt;
    text-shadow: none;
    text-align: center;
}
.randomizer .category {
    margin: 0px;
}
.results .category {
    width: 100%;
    display: block;
    margin: 0px 0px 15px 0px;
}
.results .category p {
    font-size: 14pt;
    line-height: 14pt;
}
.category i {
    background: #e7b157;
    padding: 14px 12px;
    font-size: 20pt;
    width: 35px;
    height: 31px;
    border-radius: 5px;
    color: #212732;
}
.category p {
    margin: 2px 0px;
}
.randomizer .category p {
    display: none;
}
button.ui-btn.ui-shadow.ui-corner-all {
    width: 95%;
    padding: 18px;
    margin: auto;
    border: none;
    background: #e7b157;
    color: #212732;
    text-shadow: none;
    font-size: 15pt;
}
#result .buttons {
    text-align: center;
}
.resultLink {
    display: inline-block;
    width: 60px;
    height: 37px;
    border: 1.5px solid #e7b157;
    padding: 11.5px 0px;
    font-size: 23pt;
    line-height: 28pt;
    border-radius: 100px;
    color: #e7b157 !important;
    text-shadow: none;
    margin: 0px 10px;
}
.dessert:before {
    content: "\f1fd";
}
.driving:before {
    content: "\f1b9";
}
.energy:before {
    content: "\f0e7";
}
.hiddenInstagramFeed {
    display: none;
}
.instagramFeed .img {
    display: inline-block;
    margin: -3px 0px;
}
.pageLink {
    float: right;
}
.backdrop {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
    text-align: center;
}
.backdrop .imageContainer {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.backdrop .imageContainer img {
    max-width:100%;
    width: 100%;
}
.fullheight {
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
}
.backdrop i {
    display: block;
    text-align: right;
    color: #FFF;
    font-size: 20pt;
    position: absolute;
    top: 10px;
    right: 10px;
}
.backdrop p {
    color: #fff;
    margin-top: 0px;
    text-shadow: none;
}
.tour-backdrop {
    opacity: .3;
    filter: alpha(opacity=30);
}
.ui-header.ui-bar-a.ui-header-fixed {
    background-color: #212732;
    color: #e7b157;
    text-shadow: none !important;
    border: none;
    font-weight: bold !important;
}
a.ui-link.ui-btn.ui-shadow.ui-corner-all {
    padding: 0px;
    font-size: 22pt;
    border: none;
    background: transparent;
    text-shadow: none;
    color: #e7b157;
    box-shadow: none;
    line-height: 22pt;
    border-radius: 0px;
    position: relative;
}